<!doctype html>
<html>
<head>
   <title>MIDpharma GDP</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='vertic.jpg')}}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <style>
    #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
    </style>
    <script>
      function initMap() {
        const sibiu = { lat: 45.792088, lng: 24.214124 };
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 12,
          center: sibiu,
        });
        const marker = new google.maps.Marker({
          position: sibiu,
          map: map,
        });
      }
    </script>
</head>
<body style="background-color:#e8e9e6;">

 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >MIDpharma GDP</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
              <div class="form-group">
                <a href="/" class="btn btn-success" role="button"><span class="material-icons-outlined">home</span></a>
                <a href="/login" class="btn btn-success" role="button"><span class="material-icons-outlined">login</span></a>
                <a href="/logout" class="btn btn-success" role="button"><span class="material-icons-outlined">logout</span></a>
                <a href="/partener" class="btn btn-success" role="button"><span class="material-icons-outlined">article</span></a>
                <a href="/contact" class="btn btn-success" role="button"><span class="material-icons-outlined">contact_support</span></a>
            </div>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
<section id="contacts" style="padding-top: 50px;">
       <div class="container">
        <div class="section-content container">
            <div class="text-center">
                <h1>Contact Us</h1>
            </div>

            <div class="row" style="width: 50%; margin-left: auto; margin-right: auto;">
                <div class="col-lg-0 offset-lg-0">
                    <div class="text-center">
                    <!-- "alert" section start -->
                    {% if success %}
                    <div class="text-center">
                        <div class="alert alert-success" role="alert">
                            Your message has been sent successfully!
                        </div>
                    </div>
                    {% endif %}
                    {% if faulthandler %}
                    <div class="text-center">
                         <div class="alert alert-danger" role="alert">
                         All Form Fields Required...!
                         </div>
                    </div>
                    {% endif %}
                    <!-- "alert" section end -->
                    <form action="#" class="row mt-17" method="POST">

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="first_name" class="form-label">First name</label>
                                <input type="text" class="form-control" id="first_name" name = 'first_name' value="{{ first_name }}"/>

                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="last_name" class="form-label">Last name</label>
                                <input type="text" class="form-control" id="last_name" name = 'last_name' value="{{ last_name }}"/>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="phone" class="form-label">Phone</label>
                                <input type="text" class="form-control" id="phone" name = 'phone' value="{{ phone }}"/>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="email" class="form-label">Email</label>
                                <input type="text" class="form-control" id="email" name = 'email' value="{{ email }}"/>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label for="message" class="form-label">Message</label>
                                <textarea id="message" class="form-control" rows="3" name = 'message' value="{{ message }}"></textarea>

                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-between align-items-center flex-column flex-md-row">
                            <div class="form-group form-check mb-9 mb-md-0">
                                <input type="checkbox" class="custom-checkbox" id="exampleCheck2" checked/>
                                <label class="form-check-label" for="exampleCheck2">
                                    I've read and agree with the <a href="#">Terms & Policy</a>
                                </label>
                            </div>
                            <div class="form-group mb-0">
                                <button class="btn btn-primary btn-lg">Send message</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=your_google_maps_app_key_insert_here=initMap&libraries=&v=weekly" async></script>
<footer style="text-align: center">
        <p>&copy; 2022 MIDpharma</p>
</footer>
</body>

</html>

